{% extends 'core/base.html'%}

{% block tittle %} Cadastrar Usuário {% endblock%}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title style="color: #000000; font-size: 20px;">Register</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="color: #fff; background-color: #000000; width: 100px; height: 40px; border-radius: 5px;" type="submit">
            Register
        </button>
    </form>
</body>
</html>

{% endblock %}