{% extends 'core/base.html'%}

{% block tittle %} Sobre {% endblock%}

{% block content %}

    <h1>Sobre</h1>

    <h2>

        Pele mais bonita e saudável, para todas(os).
        Acreditamos que dermocosméticos de alta performance podem transformar sua pele.
        Que oferecer informações verdadeiras aumenta sua liberdade e facilita suas escolhas.
        E que o acesso aos melhores tratamentos não deve ser um privilégio para poucos.
        E para ajudar você nesta jornada, jamais descuidamos dos nossos princípios e do nosso compromisso.


    </h2>

{% endblock%}